COHERE_API_KEY=hVtUUvQ6B8xjK5uqonpmW0eeq3vSNOwiPTlWmd4W
QDRANT_URL=https://7f7fb79f-4a59-4526-b6ce-932d4aed83b0.us-east4-0.gcp.cloud.qdrant.io:6333
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.MNjgMUS-Jpqw5Kqe91v1fxOVIpIDaUQyscFVToWBvyc
BOOK_BASE_URL=https://ai-robotics-textbook-ten.vercel.app/
SITEMAP_URL=https://ai-robotics-textbook-ten.vercel.app/sitemap.xml
OPENAI_API_KEY=your_openai_api_key_here
